@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
@import './variables/variables';
@import './base.scss';



.show {
        display: block
    }
.hide {
    display: none
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
    
    @keyframes fade{from{opacity: 0.1;}to{opacity: 1;}}}

@import './blocks/btn.scss';

@import './blocks/header.scss';
@import './blocks/promo.scss';
@import './blocks/services.scss';
@import './blocks/pay.scss';